@charset "UTF-8";
/* CSS Document */

.total-table {
    max-width: 400px;
}

/* Chrome, Safari, Edge, Opera */
.product-quantity::-webkit-inner-spin-button,
.product-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.product-quantity {
    -moz-appearance: textfield;
}

.product-quantity, .product-quantity:focus, .product-quantity:active {
    width: 2em;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: none;
}

.confirm-quantity {
    margin: 5px auto;
}

.increment-button {
    border-radius: 0 5px 5px 0;
    height: 30px;
    width: 2em;
    padding: 0;
    border: none;
}

.decrement-button {
    border-radius: 5px 0 0 5px;
    height: 30px;
    width: 2em;
    padding: 0;
    border: none;
}

.continue-shopping {
    display: block;
    color: var(--primary);
    padding: 10px 0;
    text-align: center;
    margin: auto;
}

.checkout {
    display: block;
    width: 110px;
    margin: 10px auto;
}

@media screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
    }
}



