@charset "UTF-8";
/* CSS Document */

/* Home banner */
.home-banner {
    height: 600px;
}

.home-banner p,
.home-banner a {
    position: relative;
    z-index: 1;
}

.home-banner h1 {
    margin: 20px 0;
}

.home-banner p {
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.home-banner .btn-primary {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 10px 20px;
}

/*Responsive*/
@media screen and (min-width: 1420px) {
    .home-banner {
        height: calc(100vh - 40px);
    }
}

@media screen and (max-width: 768px) {
    .home-banner .btn-primary,
    .home-banner p {
        font-size: 1rem;
    }
}