@charset "UTF-8";
/* CSS Document */

/* Home banner */
.home-banner {
    height: 600px;
}

.home-banner p,
.home-banner a {
    position: relative;
    z-index: 1;
}

.home-banner h1 {
    margin: 20px 0;
}

.home-banner p {
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.home-banner .btn-primary {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 10px 20px;
}

.arrow-link{
    bottom: 15px;
    height: 40px;
    width: 40px;
}

.arrow-down {
    fill: white;
    transition: transform 0.3s ease;
    height: 40px;
    width: 40px;
    filter: none;
}

.arrow-down:hover {
    transform: scale(1.1); /* Agrandit l'icône de 10% au survol */
}

.best-sellers {
    background: url('/img/background-menu.png'), #fff repeat;
}

.best-sellers .container h2 {
    display: block;
    text-align: center;
    margin: auto;
    color: var(--primary);
}

.best-sellers .container .article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}

.best-sellers .container .article-container article {
    background: var(--glass);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
}

.best-sellers .container .article-container article picture {
    height: 100%;
    display: flex;
}

.best-sellers .container .article-container article img {
    border-radius: 10px;
    max-height: 245px;
}

.best-sellers .container .article-container article .product-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: calc(100% - 245px);
    color: var(--background);
}


/*Responsive*/
@media screen and (min-width: 1420px) {
    .home-banner {
        height: calc(100vh - 40px);
    }
}

@media screen and (max-width: 768px) {
    .home-banner .btn-primary,
    .home-banner p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .best-sellers .container .article-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .best-sellers .container .article-container article img {
        max-height: 168px;
    }

    .best-sellers .container .article-container article .product-details {
        width: calc(100% - 168px);
    }
}

@media screen and (max-width: 500px) {
    .best-sellers .container .article-container article {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    .best-sellers .container .article-container article .product-details {
        height: 180px;
        width: 100%;
    }

    .best-sellers .container .article-container article picture {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
}

