@charset "UTF-8";
/* CSS Document */

.tabs {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 2000px;
    margin: auto;
}

.tabs li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333333%;
}

.tab {
    width: 100%;
    height: 100%;
    color: var(--text);
    background-color: var(--neutral);
    padding: 10px 0;
    text-align: center;
    border-bottom: var(--neutral) 2px solid;
    border-top: var(--neutral) 2px solid;
}

.active-tab {
    background-color: var(--text);
    color: var(--primary);
    border-bottom: var(--primary) solid 2px;
    border-top: var(--text) solid 2px;
}