@charset "UTF-8";
/* CSS Document */

.tabs {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 2000px;
    margin: auto;
}

.tabs li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333333%;
}

.tab {
    width: 100%;
    height: 100%;
    color: var(--text);
    background-color: var(--neutral);
    padding: 10px 0;
    text-align: center;
    border-bottom: var(--neutral) 2px solid;
    border-top: var(--neutral) 2px solid;
}

.active-tab {
    background-color: var(--text);
    color: var(--primary);
    border-bottom: var(--primary) solid 2px;
    border-top: var(--text) solid 2px;
}

.tab-content {
    background-color: var(--background);
    width: 100%;
}

.tab-content .container {
    padding: 0;
    background: url('/img/background-menu.png'), #fff repeat-y;
}

.tab-content .container h2 {
    color: var(--primary);
}

.tab-item {
    width: 100%;
    color: var(--background);
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.tab-item article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.tab-item article .allergens {
    color: var(--secondary);
    font-size: 1rem;
}

.tab-item div p strong{
    font-weight: 600;
}

.tab-item h4{
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.tab-item h3{
    font-family: 'Lobster Two', cursive;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.icon-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-title-container img{
    width: 50px;
    height: 50px;
}

